.login-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  width: 300px;
  height: 320px;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
